html {
  font-size: 1vw;
}

body {
  background-color: #46424D;
  color: #cbc9cf;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  margin: 0;
}

header {
  background-color: #46424D;
  display: flex;
  justify-content: center;
}

main {
  display: flex;
  flex-direction: row;
}

div {
  padding: 0px;
  margin: 0px;
}

.activity-form {
  padding-top: 1rem;
  padding-bottom: 2rem;
  margin: 0px;
  border-radius: 5px;
}

.new-activity-section,
.past-activities-section {
  background-color: #2B2733;
  height: auto;
  padding-bottom: 2rem;
}

.new-activity-section {
  margin-right: .25rem;
  padding: 2rem;
  padding-top: 1rem;
  width: 100%;
}

form {
  background-color: #46424D;
  padding: 2rem 6rem;
  font-size: 1.5rem;
  font-weight: 400;
}

form > div {
  margin: 0.5rem;
  padding: 0.5rem;
}

.select-category-div {
  padding-bottom: 0;
}

.activity-category-div {
  display: flex;
  justify-content: space-between;
  padding-top: 0;
  /* padding-bottom: 2rem; */
}

.category-warning {
  text-align: center;
  padding-bottom: 1.5rem;
  padding-right: 1rem;
}

.activity-category-div > input {
  width: 13.5rem;
  height: 6rem;
  /* border: .1rem solid #CBC9CF; */
  border-radius: .4rem;
  /* color: #CBC9CF; */
  padding-top: 3rem;
  font-size: 1.5rem;
}

.study-button {
  background: url(./assets/study.svg) no-repeat;
  background-position: 50% 25%;
  background-size: 2rem;
  border: .1rem solid #CBC9CF;
  color: #CBC9CF;
  cursor: pointer;
}

.study-button-clicked {
  background: url(./assets/study-active.svg) no-repeat;
  background-position: 50% 25%;
  background-size: 2rem;
  border: .1rem solid #B3FD78;
  color: #B3FD78;
  cursor: pointer;
}

.meditate-button {
  background: url(./assets/meditate.svg) no-repeat center;
  background-position: 50% 25%;
  background-size: 2rem;
  border: .1rem solid #CBC9CF;
  color: #CBC9CF;
  cursor: pointer;
}

.meditate-button-clicked {
  background: url(./assets/meditate-active.svg) no-repeat;
  background-position: 50% 25%;
  background-size: 2rem;
  border: .1rem solid #C278FD;
  color: #C278FD;
  cursor: pointer;
}

.exercise-button {
  background: url(./assets/exercise.svg) no-repeat center;
  background-position: 50% 25%;
  background-size: 2rem;
  border: .1rem solid #CBC9CF;
  color: #CBC9CF;
  cursor: pointer;
}

.exercise-button-clicked {
  background: url(./assets/exercise-active.svg) no-repeat;
  background-position: 50% 25%;
  background-size: 2rem;
  border: .1rem solid #FD8078;
  color: #FD8078;
  cursor: pointer;
}

.task-description-div,
.minutes-div,
.seconds-div {
  display: flex;
  flex-direction: column;
}

.form-input-fields {
  background-color: #46424D;
  border: 0;
  border-bottom: 1px solid #CBC9CF;
  line-height: 3rem;
  color: white;
  font-size: 1.5rem;
}

.error-line-color {
  border-bottom: 1px solid #EFB7EC;
}

.error-message {
  color: #EFB7EC;
  margin-top: 0;
}

#warning {
  height: 1.5rem;
  width: 1.5rem;
  margin-right: 5px;
}

.minutes-seconds-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.minutes-div,
.seconds-div {
  width: 40%;
}

.start-button-div {
  display: flex;
  justify-content: flex-end;
}

#start-activity-button {
  border: 0;
  border-radius: 4px;
  padding: 1rem 2rem;
  font-size: 1.5rem;
  color: #46424D;
  cursor: pointer;
}

.timer-display {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 40rem;
}

.timer-description {
  margin: 0px;
}

.timer {
  font-size: 7rem;
  font-weight: bolder;
  margin: 0px;
  color: white;
}

.start-timer {
  height: 20rem;
  width: 20rem;
  background: none;
  border: 3px solid #C278FD;
  border-radius: 50%;
  margin-top: 3rem;
  color: white;
  font-size: 2rem;
  font-weight: lighter;
  cursor: pointer;
}

.start {
  color: #cbc9cf;
}

.past-activities-section {
  width: 45%;
  padding: 2rem;
  padding-top: 1rem;
}

.default-activity-text {
  text-align: center;
}

.hidden {
  display: none;
}
