html {
  font-size: 1vw;
}

body {
  background-color: #46424D;
  color: #cbc9cf;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  margin: 0;
}

header {
  background-color: #46424D;
  display: flex;
  justify-content: center;
}

main {
  display: flex;
  flex-direction: row;
}

.new-activity-section,
.past-activities-section {
  background-color: #2B2733;
}

.new-activity-section {
  margin-right: .25rem;
  padding: 2rem;
  padding-top: 1rem;
  width: 100%;
}

form {
  background-color: #46424D;
  padding: 2rem 6rem;
  font-size: 1.5rem;
  font-weight: 400;
}

form > div {
  margin: 1rem;
  padding: 1rem;
}

.select-category-div {
  padding-bottom: 0;
}

.activity-category-div {
  display: flex;
  justify-content: space-between;
  padding-top: 0;
  padding-bottom: 2.5rem;
}

.activity-category-div > input {
  width: 13.5rem;
  height: 6rem;
  background: none;
  border: .1rem solid #CBC9CF;
  border-radius: .4rem;
  color: #CBC9CF;
  padding-top: 3rem;
  font-size: 1.5rem;
}

#study-button {
  background: url(./assets/study.svg) no-repeat;
  background-position: 50% 25%;
  background-size: 2rem;
}

#meditate-button {
  background: url(./assets/meditate.svg) no-repeat center;
  background-position: 50% 25%;
  background-size: 2rem;
}

#exercise-button {
  background: url(./assets/exercise.svg) no-repeat center;
  background-position: 50% 25%;
  background-size: 2rem;
}

.task-description-div,
.minutes-div,
.seconds-div {
  display: flex;
  flex-direction: column;
}

#task-description,
#minutes,
#seconds {
  background-color: #46424D;
  border: 0;
  border-bottom: 1px solid #CBC9CF;
  line-height: 3rem;
}

.minutes-seconds-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.minutes-div,
.seconds-div {
  width: 40%;
}

.start-button-div {
  display: flex;
  justify-content: flex-end;
}

#start-activity-button {
  border: 0;
  border-radius: 4px;
  padding: 1rem 2rem;
  font-size: 1.5rem;
  color: #46424D;
}

.past-activities-section {
  width: 45%;
  padding: 2rem;
  padding-top: 1rem;
}

.default-activity-text {
  text-align: center;
}
